.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8d8d8d;
}
.read-the-docs {
  color: #888;
}

.search-container{
  background-color: blueviolet;
  height: 10%;
}

.card-list{
  width: 98vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-container{
  background-color: #c2c2c2;
  width: 90%;
  color: #333333;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  border: 1px solid #000000F0;
  margin: 0.5rem;
  padding: 0.5rem;
}